In [2]:
pip install geojson

Requirement already satisfied: geojson in /opt/anaconda3/lib/python3.12/site-packages (3.2.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%conda install folium

Channels:
 - defaults
Platform: osx-64
doneecting package metadata (repodata.json): -
doneing environment: |

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import folium
from folium.plugins import FastMarkerCluster
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from bs4 import BeautifulSoup
import time # For adding a delay between requests
import random # For randomizing delay
import requests

In [5]:
nash_list = pd.read_csv('../data/listings.csv')

In [6]:
nash_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9585 entries, 0 to 9584
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            9585 non-null   int64
 1   listing_url                                   9585 non-null   object
 2   scrape_id                                     9585 non-null   int64
 3   last_scraped                                  9585 non-null   object
 4   source                                        9585 non-null   object
 5   name                                          9585 non-null   object
 6   description                                   9394 non-null   object
 7   neighborhood_overview                         6214 non-null   object
 8   picture_url                                   9585 non-null   object
 9   host_id                                       9585 non-null   int64
 10  host_url                                      9585 non-null   object
 11  host_name                                     9585 non-null   object
 12  host_since                                    9585 non-null   object
 13  host_location                                 7710 non-null   object
 14  host_about                                    6778 non-null   object
 15  host_response_time                            8925 non-null   object
 16  host_response_rate                            8925 non-null   object
 17  host_acceptance_rate                          9175 non-null   object
 18  host_is_superhost                             9192 non-null   object
 19  host_thumbnail_url                            9585 non-null   object
 20  host_picture_url                              9585 non-null   object
 21  host_neighbourhood                            8044 non-null   object
 22  host_listings_count                           9585 non-null   int64
 23  host_total_listings_count                     9585 non-null   int64
 24  host_verifications                            9585 non-null   object
 25  host_has_profile_pic                          9585 non-null   object
 26  host_identity_verified                        9585 non-null   object
 27  neighbourhood                                 6214 non-null   object
 28  neighbourhood_cleansed                        9585 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      9585 non-null   float64
 31  longitude                                     9585 non-null   float64
 32  property_type                                 9585 non-null   object
 33  room_type                                     9585 non-null   object
 34  accommodates                                  9585 non-null   int64
 35  bathrooms                                     6616 non-null   float64
 36  bathrooms_text                                9585 non-null   object
 37  bedrooms                                      9399 non-null   float64
 38  beds                                          6607 non-null   float64
 39  amenities                                     9585 non-null   object
 40  price                                         6568 non-null   object
 41  minimum_nights                                9585 non-null   int64
 42  maximum_nights                                9585 non-null   int64
 43  minimum_minimum_nights                        9581 non-null   float64
 44  maximum_minimum_nights                        9581 non-null   float64
 45  minimum_maximum_nights                        9581 non-null   float64
 46  maximum_maximum_nights                        9581 non-null   float64
 47  minimum_nights_avg_ntm                        9581 non-null   float64
 48  maximum_nights_avg_ntm                        9581 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              9543 non-null   object
 51  availability_30                               9585 non-null   int64
 52  availability_60                               9585 non-null   int64
 53  availability_90                               9585 non-null   int64
 54  availability_365                              9585 non-null   int64
 55  calendar_last_scraped                         9585 non-null   object
 56  number_of_reviews                             9585 non-null   int64
 57  number_of_reviews_ltm                         9585 non-null   int64
 58  number_of_reviews_l30d                        9585 non-null   int64
 59  availability_eoy                              9585 non-null   int64
 60  number_of_reviews_ly                          9585 non-null   int64
 61  estimated_occupancy_l365d                     9585 non-null   int64
 62  estimated_revenue_l365d                       6568 non-null   float64
 63  first_review                                  8503 non-null   object
 64  last_review                                   8503 non-null   object
 65  review_scores_rating                          8503 non-null   float64
 66  review_scores_accuracy                        8503 non-null   float64
 67  review_scores_cleanliness                     8503 non-null   float64
 68  review_scores_checkin                         8503 non-null   float64
 69  review_scores_communication                   8503 non-null   float64
 70  review_scores_location                        8503 non-null   float64
 71  review_scores_value                           8503 non-null   float64
 72  license                                       958 non-null    object
 73  instant_bookable                              9585 non-null   object
 74  calculated_host_listings_count                9585 non-null   int64
 75  calculated_host_listings_count_entire_homes   9585 non-null   int64
 76  calculated_host_listings_count_private_rooms  9585 non-null   int64
 77  calculated_host_listings_count_shared_rooms   9585 non-null   int64
 78  reviews_per_month                             8503 non-null   float64
dtypes: float64(22), int64(22), object(35)
memory usage: 5.8+ MB

In [7]:
nash_list[['latitude','longitude']].head(50)

     latitude  longitude
0   36.171430 -86.735700
1   36.124660 -86.812690
2   36.189400 -86.591620
3   36.131220 -86.800660
4   36.160760 -86.591510
5   36.162960 -86.591130
6   36.162360 -86.590050
7   36.175800 -86.799500
8   36.161220 -86.590070
9   36.164990 -86.750540
10  36.172300 -86.792500
11  36.172300 -86.792500
12  36.175800 -86.799500
13  36.189820 -86.743990
14  36.156060 -86.649910
15  36.172300 -86.792500
16  36.185230 -86.713850
17  36.144700 -86.790140
18  36.173930 -86.738940
19  36.215360 -86.710240
20  36.129990 -86.799590
21  36.175400 -86.781898
22  36.175020 -86.734750
23  36.212390 -86.704390
24  36.322490 -86.726520
25  36.167618 -86.737099
26  36.129917 -86.792465
27  36.172310 -86.792520
28  36.226210 -86.710300
29  36.178330 -86.744260
30  36.178330 -86.744260
31  36.178680 -86.743940
32  36.123970 -86.780470
33  36.176220 -86.735120
34  36.176632 -86.807991
35  36.145490 -86.786860
36  36.203380 -86.729600
37  36.170690 -86.791210
38  36.161070 -86.752560
39  36.170350 -86.740170
40  36.182690 -86.753010
41  36.185993 -86.741821
42  36.178330 -86.744260
43  36.135410 -86.812656
44  36.180340 -86.725880
45  36.143770 -86.794860
46  36.189340 -86.591180
47  36.169220 -86.741080
48  36.242540 -86.705250
49  36.147050 -86.818450

In [8]:
nash_list.loc[nash_list['minimum_minimum_nights']>=30]

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6422,https://www.airbnb.com/rooms/6422,20250315060229,2025-03-15,city scrape,Nashville Charm,30 day plus rental - book for one month and th...,Historic East Nashville is home to many new an...,https://a0.muscache.com/pictures/miso/Hosting-...,12172,...,4.96,4.92,4.98,NaN,f,1,0,1,0,3.46
2,59576,https://www.airbnb.com/rooms/59576,20250315060229,2025-03-15,city scrape,Large Main Suite near Lake *ladies only NS plz,non-smokers only please<br /><br />furnished r...,We live on a cul-de-sac in a small community o...,https://a0.muscache.com/pictures/4e4e34db-3155...,812128,...,5.00,5.00,5.00,NaN,f,6,1,5,0,0.09
4,258817,https://www.airbnb.com/rooms/258817,20250315060229,2025-03-15,city scrape,"ButterflyRoom-queen room, private bath",Morningstar House! Extended stay - 3+ months- ...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/eef19bc4-2743...,22296,...,4.91,4.74,4.73,NaN,f,8,0,7,1,0.60
5,289242,https://www.airbnb.com/rooms/289242,20250315060229,2025-03-15,city scrape,"MorningstarHouse, monthly room-",Morningstar House! Extended stay - price reduc...,The Morningstar House is in a quiet cul-de-sac...,https://a0.muscache.com/pictures/40a7ab72-20f7...,22296,...,4.78,4.47,4.69,NaN,f,8,0,7,1,0.47
6,319705,https://www.airbnb.com/rooms/319705,20250315060229,2025-03-15,city scrape,"SuperSweetSTUDIO, jacuzzi, private entrance",Huge fully furnished private room /studio apar...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/3470453/c7d82...,22296,...,4.69,4.63,4.58,NaN,f,8,0,7,1,0.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9520,1368588735062432547,https://www.airbnb.com/rooms/1368588735062432547,20250315060229,2025-03-15,city scrape,Cozy Downtown Studio On Broadway,Welcome to your modern studio apt home on the ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,492903135,...,NaN,NaN,NaN,NaN,f,4,4,0,0,NaN
9528,1370292228465842647,https://www.airbnb.com/rooms/1370292228465842647,20250315060229,2025-03-15,city scrape,I’m rarely there,Master bedroom on main floor of 2br/2ba townho...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,8962546,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
9554,1373976176884284666,https://www.airbnb.com/rooms/1373976176884284666,20250315060229,2025-03-15,city scrape,"Peaceful, Bright Queen Room | Central & Renovated",Keep it simple at this peaceful and centrally-...,NaN,https://a0.muscache.com/pictures/airflow/Hosti...,21646527,...,NaN,NaN,NaN,NaN,t,2,1,1,0,NaN
9567,1374694384021460568,https://www.airbnb.com/rooms/1374694384021460568,20250315060229,2025-03-15,city scrape,Mid-Mod Basement Retreat,NEWLY RENOVATED Modern/contemporary 2 BR/1 BA ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,12774554,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
9584,1376441780728609118,https://www.airbnb.com/rooms/1376441780728609118,20250315060229,2025-03-15,city scrape,Quiet Home in the Woods,"A furnished secluded home, tucked away in the ...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,278308299,...,NaN,NaN,NaN,NaN,f,2,1,1,0,NaN

In [9]:
nash_review = pd.read_csv('../data/reviews.csv')

In [10]:
minof30ni = nash_list.loc[nash_list['minimum_nights'] >= 30]
minof30ni

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6422,https://www.airbnb.com/rooms/6422,20250315060229,2025-03-15,city scrape,Nashville Charm,30 day plus rental - book for one month and th...,Historic East Nashville is home to many new an...,https://a0.muscache.com/pictures/miso/Hosting-...,12172,...,4.96,4.92,4.98,NaN,f,1,0,1,0,3.46
2,59576,https://www.airbnb.com/rooms/59576,20250315060229,2025-03-15,city scrape,Large Main Suite near Lake *ladies only NS plz,non-smokers only please<br /><br />furnished r...,We live on a cul-de-sac in a small community o...,https://a0.muscache.com/pictures/4e4e34db-3155...,812128,...,5.00,5.00,5.00,NaN,f,6,1,5,0,0.09
4,258817,https://www.airbnb.com/rooms/258817,20250315060229,2025-03-15,city scrape,"ButterflyRoom-queen room, private bath",Morningstar House! Extended stay - 3+ months- ...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/eef19bc4-2743...,22296,...,4.91,4.74,4.73,NaN,f,8,0,7,1,0.60
5,289242,https://www.airbnb.com/rooms/289242,20250315060229,2025-03-15,city scrape,"MorningstarHouse, monthly room-",Morningstar House! Extended stay - price reduc...,The Morningstar House is in a quiet cul-de-sac...,https://a0.muscache.com/pictures/40a7ab72-20f7...,22296,...,4.78,4.47,4.69,NaN,f,8,0,7,1,0.47
6,319705,https://www.airbnb.com/rooms/319705,20250315060229,2025-03-15,city scrape,"SuperSweetSTUDIO, jacuzzi, private entrance",Huge fully furnished private room /studio apar...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/3470453/c7d82...,22296,...,4.69,4.63,4.58,NaN,f,8,0,7,1,0.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9520,1368588735062432547,https://www.airbnb.com/rooms/1368588735062432547,20250315060229,2025-03-15,city scrape,Cozy Downtown Studio On Broadway,Welcome to your modern studio apt home on the ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,492903135,...,NaN,NaN,NaN,NaN,f,4,4,0,0,NaN
9528,1370292228465842647,https://www.airbnb.com/rooms/1370292228465842647,20250315060229,2025-03-15,city scrape,I’m rarely there,Master bedroom on main floor of 2br/2ba townho...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,8962546,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
9554,1373976176884284666,https://www.airbnb.com/rooms/1373976176884284666,20250315060229,2025-03-15,city scrape,"Peaceful, Bright Queen Room | Central & Renovated",Keep it simple at this peaceful and centrally-...,NaN,https://a0.muscache.com/pictures/airflow/Hosti...,21646527,...,NaN,NaN,NaN,NaN,t,2,1,1,0,NaN
9567,1374694384021460568,https://www.airbnb.com/rooms/1374694384021460568,20250315060229,2025-03-15,city scrape,Mid-Mod Basement Retreat,NEWLY RENOVATED Modern/contemporary 2 BR/1 BA ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,12774554,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
9584,1376441780728609118,https://www.airbnb.com/rooms/1376441780728609118,20250315060229,2025-03-15,city scrape,Quiet Home in the Woods,"A furnished secluded home, tucked away in the ...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,278308299,...,NaN,NaN,NaN,NaN,f,2,1,1,0,NaN

In [11]:
len(set(nash_review))

6

In [12]:
minof30ni['minimum_nights'].min()

30

In [13]:
maxminof30ni =minof30ni.loc[minof30ni['minimum_nights'] == 730]
maxminof30ni['price']

2828    NaN
Name: price, dtype: object

In [14]:
nash_neighbors = pd.read_csv('../data/neighbourhoods.csv')
nash_neighbors

    neighbourhood_group neighbourhood
0                   NaN    District 1
1                   NaN   District 10
2                   NaN   District 11
3                   NaN   District 12
4                   NaN   District 13
5                   NaN   District 14
6                   NaN   District 15
7                   NaN   District 16
8                   NaN   District 17
9                   NaN   District 18
10                  NaN   District 19
11                  NaN    District 2
12                  NaN   District 20
13                  NaN   District 21
14                  NaN   District 22
15                  NaN   District 23
16                  NaN   District 24
17                  NaN   District 25
18                  NaN   District 26
19                  NaN   District 27
20                  NaN   District 28
21                  NaN   District 29
22                  NaN    District 3
23                  NaN   District 30
24                  NaN   District 31
25                  NaN   District 32
26                  NaN   District 33
27                  NaN   District 34
28                  NaN   District 35
29                  NaN    District 4
30                  NaN    District 5
31                  NaN    District 6
32                  NaN    District 7
33                  NaN    District 8
34                  NaN    District 9

In [15]:
##parksgpd['lng'] = parksgpd.geometry.centroid.x
##parksgpd['lat']= parksgpd.geometry.centroid.y
##parksgpd

In [16]:
zillow_list = pd.read_csv('../data/zillow.csv')

In [17]:
zillow_list

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1557.413520,...,2008.322823,2019.510812,2008.990192,1999.000695,1991.831855,1987.133409,1984.396568,1982.530426,1992.511067,1998.326857
1,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1297.721295,...,1903.201526,1915.814721,1893.354338,1875.355315,1872.596561,1892.674418,1902.553639,1914.897081,1927.398395,1928.312343
2,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,1213.080633,...,1798.527327,1797.622832,1800.911804,1807.872389,1803.258361,1791.416816,1768.558354,1783.547286,1781.959060,1785.311992
3,93144,6,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,NaN,...,1516.142641,1508.063301,1500.805038,1485.205436,1491.904534,1505.402383,1534.994034,1554.616415,1549.810299,1518.400560
4,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,2993.317633,2988.242148,2953.951035,2908.311413,2860.673857,2838.826917,2883.699434,2921.008142,2974.454518,2965.071455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7317,86344,30470,64102,zip,MO,MO,Kansas City,"Kansas City, MO-KS",Jackson County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1589.751960,1586.000000
7318,58956,30490,2876,zip,RI,RI,North Smithfield,"Providence-Warwick, RI-MA",Providence County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2255.910013,2236.505170,2268.402375,2297.222222
7319,61618,30490,10004,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,...,4563.087965,4534.430074,4483.314883,4403.330101,4371.507238,4329.240618,4359.792613,4475.881316,4530.669700,4618.611111
7320,91179,30490,76005,zip,TX,TX,Arlington,"Dallas-Fort Worth-Arlington, TX",Tarrant County,NaN,...,2030.587629,2007.140006,1978.581956,1921.595885,1940.733714,1915.469691,1919.755958,1900.543381,1907.209568,1921.465368
7321,97071,30490,92878,zip,CA,CA,Corona,"Riverside-San Bernardino-Ontario, CA",Riverside County,NaN,...,2609.498017,2653.718897,2683.447673,2729.458385,2690.247690,2684.876453,2656.401810,2659.202089,2619.057325,2652.500000

In [18]:
nash_zillow = zillow_list.loc[zillow_list['City']== 'Nashville']
nash_zillow

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30
12,74101,15,37013,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,1119.967929,...,1934.575940,1932.546290,1928.691310,1911.247988,1878.485364,1861.859260,1864.345966,1875.617022,1884.520976,1887.843159
166,74242,176,37211,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,974.183647,...,1558.986481,1548.374318,1526.986090,1503.205083,1496.812194,1503.824173,1509.036065,1515.705622,1512.477114,1530.493139
1657,74178,1740,37115,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,1504.517498,1516.465714,1506.479409,1515.435507,1505.485960,1514.737987,1514.708241,1532.739374,1536.187325,1522.991142
1658,74252,1741,37221,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,1716.398503,1720.305525,1733.220823,1741.535599,1749.034831,1710.217674,1699.698147,1689.237242,1709.447656,1716.247941
1848,74238,1943,37207,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,2204.249611,2185.810457,2181.963035,2161.386301,2150.777045,2174.060029,2180.251483,2188.925953,2186.900959,2220.505556
2057,74157,2166,37076,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,1632.530846,1640.629799,1637.274732,1605.828035,1597.222447,1597.237315,1615.603384,1625.691698,1639.552714,1650.986555
2455,74240,2594,37209,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,1875.479063,1888.072606,1873.094818,1874.974533,1857.869017,1869.548847,1845.920267,1840.603366,1826.655239,1832.551307
2981,74248,3187,37217,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,1569.125785,1562.404350,1552.364713,1534.223049,1542.992354,1524.948233,1514.992987,1502.046505,1516.166359,1533.345303
3135,74245,3360,37214,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,1663.871248,1677.739514,1671.397646,1658.844502,1628.894733,1618.672989,1623.993137,1637.291221,1666.188025,1671.495252
3923,74195,4310,37138,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,2160.961860,2138.543989,2094.676884,2068.799277,2092.204702,2148.245754,2155.067420,2173.084371,2160.086058,2149.704762
3996,74236,4398,37205,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,2215.673461,2219.481067,2173.762093,2166.550907,2148.383938,2120.953068,2138.451281,2128.641711,2150.789350,2122.547222
4108,74237,4549,37206,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,2238.861445,2263.877654,2233.781234,2238.344960,2216.012412,2226.770056,2218.868402,2251.778303,2285.855054,2305.004224
4494,74246,5073,37215,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,2198.793082,2228.650431,2255.643462,2256.506889,2201.869375,2153.254307,2164.944053,2214.937857,2277.906065,2301.578477
5140,74234,5963,37203,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,2148.196543,2117.216994,2089.346779,2051.747636,2069.935308,2063.977031,2086.096268,2067.356197,2086.799025,2082.809707
5299,74247,6214,37216,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,2015.180264,2057.712106,2045.486496,2042.608535,2025.877359,2049.798919,2065.980803,2074.194534,2059.724075,2045.765152
5491,74243,6520,37212,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,2034.169011,2039.974143,2007.997075,1972.539890,1930.602550,1930.405337,1992.156540,2040.974626,2052.290421,2049.318232
5709,74239,6894,37208,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,1948.870154,1934.762348,1957.273710,1979.319381,1966.855664,1951.404098,1921.636176,1964.169245,1966.990047,1994.769281
5774,74235,7014,37204,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,1895.623733,1916.344985,1893.734993,1900.574614,1854.127465,1814.657663,1784.136387,1803.105796,1842.683425,1896.734106
6016,74241,7523,37210,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,1823.227834,1813.740669,1837.270036,1829.682318,1807.763931,1781.083624,1762.587071,1781.892287,1778.357012,1783.291667
6233,74249,7970,37218,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2162.695053,2216.770830,2360.688014,2283.333333
7262,74256,16588,37228,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,1836.663369,1813.243940,1820.470125,1802.250875,1770.781301,1752.825450,1784.054303,1824.368737,1850.961681,1833.882540
7305,74232,21686,37201,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,2026.764090,2036.002593,2053.469422,2005.394299,2013.425330,1983.448705,1975.684833,1927.279341,1951.218759,2015.583333
7309,74250,23010,37219,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,NaN,...,2078.213403,2054.517404,2015.088573,1986.888327,1944.377122,2001.123376,1983.314546,2015.044570,2015.101369,2034.233333

In [19]:
zillow_list.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7322 entries, 0 to 7321
Data columns (total 133 columns):
 #    Column      Non-Null Count  Dtype
---   ------      --------------  -----
 0    RegionID    7322 non-null   int64
 1    SizeRank    7322 non-null   int64
 2    RegionName  7322 non-null   int64
 3    RegionType  7322 non-null   object
 4    StateName   7322 non-null   object
 5    State       7322 non-null   object
 6    City        7270 non-null   object
 7    Metro       7301 non-null   object
 8    CountyName  7322 non-null   object
 9    2015-01-31  809 non-null    float64
 10   2015-02-28  838 non-null    float64
 11   2015-03-31  893 non-null    float64
 12   2015-04-30  909 non-null    float64
 13   2015-05-31  924 non-null    float64
 14   2015-06-30  926 non-null    float64
 15   2015-07-31  933 non-null    float64
 16   2015-08-31  936 non-null    float64
 17   2015-09-30  939 non-null    float64
 18   2015-10-31  945 non-null    float64
 19   2015-11-30  959 non-null    float64
 20   2015-12-31  992 non-null    float64
 21   2016-01-31  1027 non-null   float64
 22   2016-02-29  1054 non-null   float64
 23   2016-03-31  1086 non-null   float64
 24   2016-04-30  1139 non-null   float64
 25   2016-05-31  1337 non-null   float64
 26   2016-06-30  1367 non-null   float64
 27   2016-07-31  1377 non-null   float64
 28   2016-08-31  1383 non-null   float64
 29   2016-09-30  1397 non-null   float64
 30   2016-10-31  1413 non-null   float64
 31   2016-11-30  1437 non-null   float64
 32   2016-12-31  1479 non-null   float64
 33   2017-01-31  1560 non-null   float64
 34   2017-02-28  1565 non-null   float64
 35   2017-03-31  1588 non-null   float64
 36   2017-04-30  1610 non-null   float64
 37   2017-05-31  1628 non-null   float64
 38   2017-06-30  1640 non-null   float64
 39   2017-07-31  1658 non-null   float64
 40   2017-08-31  1660 non-null   float64
 41   2017-09-30  1671 non-null   float64
 42   2017-10-31  1701 non-null   float64
 43   2017-11-30  1728 non-null   float64
 44   2017-12-31  1767 non-null   float64
 45   2018-01-31  1859 non-null   float64
 46   2018-02-28  1893 non-null   float64
 47   2018-03-31  1933 non-null   float64
 48   2018-04-30  1952 non-null   float64
 49   2018-05-31  1968 non-null   float64
 50   2018-06-30  1971 non-null   float64
 51   2018-07-31  1981 non-null   float64
 52   2018-08-31  1986 non-null   float64
 53   2018-09-30  1985 non-null   float64
 54   2018-10-31  2008 non-null   float64
 55   2018-11-30  2022 non-null   float64
 56   2018-12-31  2062 non-null   float64
 57   2019-01-31  2140 non-null   float64
 58   2019-02-28  2160 non-null   float64
 59   2019-03-31  2188 non-null   float64
 60   2019-04-30  2191 non-null   float64
 61   2019-05-31  2202 non-null   float64
 62   2019-06-30  2211 non-null   float64
 63   2019-07-31  2215 non-null   float64
 64   2019-08-31  2219 non-null   float64
 65   2019-09-30  2219 non-null   float64
 66   2019-10-31  2226 non-null   float64
 67   2019-11-30  2226 non-null   float64
 68   2019-12-31  2258 non-null   float64
 69   2020-01-31  2298 non-null   float64
 70   2020-02-29  2302 non-null   float64
 71   2020-03-31  2321 non-null   float64
 72   2020-04-30  2333 non-null   float64
 73   2020-05-31  2355 non-null   float64
 74   2020-06-30  2357 non-null   float64
 75   2020-07-31  2363 non-null   float64
 76   2020-08-31  2366 non-null   float64
 77   2020-09-30  2383 non-null   float64
 78   2020-10-31  2411 non-null   float64
 79   2020-11-30  2457 non-null   float64
 80   2020-12-31  2524 non-null   float64
 81   2021-01-31  2611 non-null   float64
 82   2021-02-28  2680 non-null   float64
 83   2021-03-31  2825 non-null   float64
 84   2021-04-30  2854 non-null   float64
 85   2021-05-31  2884 non-null   float64
 86   2021-06-30  2915 non-null   float64
 87   2021-07-31  2925 non-null   float64
 88   2021-08-31  2956 non-null   float64
 89   2021-09-30  3005 non-null   float64
 90   2021-10-31  3097 non-null   float64
 91   2021-11-30  3172 non-null   float64
 92   2021-12-31  3316 non-null   float64
 93   2022-01-31  3517 non-null   float64
 94   2022-02-28  3661 non-null   float64
 95   2022-03-31  3807 non-null   float64
 96   2022-04-30  3880 non-null   float64
 97   2022-05-31  3965 non-null   float64
 98   2022-06-30  4044 non-null   float64
 99   2022-07-31  4088 non-null   float64
 100  2022-08-31  4128 non-null   float64
 101  2022-09-30  4158 non-null   float64
 102  2022-10-31  4236 non-null   float64
 103  2022-11-30  4307 non-null   float64
 104  2022-12-31  4368 non-null   float64
 105  2023-01-31  4495 non-null   float64
 106  2023-02-28  4568 non-null   float64
 107  2023-03-31  4673 non-null   float64
 108  2023-04-30  4725 non-null   float64
 109  2023-05-31  4796 non-null   float64
 110  2023-06-30  4838 non-null   float64
 111  2023-07-31  4848 non-null   float64
 112  2023-08-31  4873 non-null   float64
 113  2023-09-30  4886 non-null   float64
 114  2023-10-31  4920 non-null   float64
 115  2023-11-30  4951 non-null   float64
 116  2023-12-31  5018 non-null   float64
 117  2024-01-31  5167 non-null   float64
 118  2024-02-29  5242 non-null   float64
 119  2024-03-31  5308 non-null   float64
 120  2024-04-30  5362 non-null   float64
 121  2024-05-31  5398 non-null   float64
 122  2024-06-30  5420 non-null   float64
 123  2024-07-31  5454 non-null   float64
 124  2024-08-31  5465 non-null   float64
 125  2024-09-30  5493 non-null   float64
 126  2024-10-31  5570 non-null   float64
 127  2024-11-30  5603 non-null   float64
 128  2024-12-31  5763 non-null   float64
 129  2025-01-31  6073 non-null   float64
 130  2025-02-28  6265 non-null   float64
 131  2025-03-31  6710 non-null   float64
 132  2025-04-30  7319 non-null   float64
dtypes: float64(124), int64(3), object(6)
memory usage: 7.4+ MB

In [20]:
incidents = pd.read_csv('../data/incidents.csv')

/var/folders/xm/zcj7d6494pd3w3f_ptrhh9lr0000gn/T/ipykernel_35250/2519731668.py:1: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  incidents = pd.read_csv('../data/incidents.csv')

In [21]:
latnlongairbnb = pd.read_csv('../data/latnlongairbnb.csv')
latnlongairbnb

      Unnamed: 0   latitude  longitude
0              0  36.171430 -86.735700
1              2  36.189400 -86.591620
2              4  36.160760 -86.591510
3              5  36.162960 -86.591130
4              6  36.162360 -86.590050
...          ...        ...        ...
1201        9520  36.157534 -86.787267
1202        9528  36.164556 -86.700676
1203        9554  36.051758 -86.727273
1204        9567  36.180546 -86.817324
1205        9584  36.288581 -86.761850

[1206 rows x 3 columns]

In [22]:
# Set up geolocator
##geolocator = Nominatim(user_agent="zip_code_lookup")
##reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)

# Function to get ZIP code from coordinates
##def get_zipcode(lat, lon):
  #  try:
   #     location = reverse((lat, lon), exactly_one=True)
    #    if location and 'postcode' in location.raw['address']:
     #       return location.raw['address']['postcode']
    #except:
     #   return None
    #return None

# Apply to dataframe
#minof30ni['zipcode'] = minof30ni.apply(
 #   lambda row: get_zipcode(row['latitude'], row['longitude']) if pd.notnull(row['latitude']) and pd.notnull(row['longitude']) else None,
  #  axis=1
#)

# Save updated file
#output_file = "minof30ni_with_zip.csv"
#minof30ni.to_csv(output_file, index=False)
#print(f"ZIP codes added. File saved as {output_file}")

In [23]:
min30ni_zip = pd.read_csv('../data/minof30ni_with_zip.csv')

In [24]:
min30ni_zip

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,zipcode
0,6422,https://www.airbnb.com/rooms/6422,20250315060229,2025-03-15,city scrape,Nashville Charm,30 day plus rental - book for one month and th...,Historic East Nashville is home to many new an...,https://a0.muscache.com/pictures/miso/Hosting-...,12172,...,4.92,4.98,NaN,f,1,0,1,0,3.46,37206.0
1,59576,https://www.airbnb.com/rooms/59576,20250315060229,2025-03-15,city scrape,Large Main Suite near Lake *ladies only NS plz,non-smokers only please<br /><br />furnished r...,We live on a cul-de-sac in a small community o...,https://a0.muscache.com/pictures/4e4e34db-3155...,812128,...,5.00,5.00,NaN,f,6,1,5,0,0.09,37076.0
2,258817,https://www.airbnb.com/rooms/258817,20250315060229,2025-03-15,city scrape,"ButterflyRoom-queen room, private bath",Morningstar House! Extended stay - 3+ months- ...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/eef19bc4-2743...,22296,...,4.74,4.73,NaN,f,8,0,7,1,0.60,37076.0
3,289242,https://www.airbnb.com/rooms/289242,20250315060229,2025-03-15,city scrape,"MorningstarHouse, monthly room-",Morningstar House! Extended stay - price reduc...,The Morningstar House is in a quiet cul-de-sac...,https://a0.muscache.com/pictures/40a7ab72-20f7...,22296,...,4.47,4.69,NaN,f,8,0,7,1,0.47,37076.0
4,319705,https://www.airbnb.com/rooms/319705,20250315060229,2025-03-15,city scrape,"SuperSweetSTUDIO, jacuzzi, private entrance",Huge fully furnished private room /studio apar...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/3470453/c7d82...,22296,...,4.63,4.58,NaN,f,8,0,7,1,0.31,37076.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278,1368588735062432547,https://www.airbnb.com/rooms/1368588735062432547,20250315060229,2025-03-15,city scrape,Cozy Downtown Studio On Broadway,Welcome to your modern studio apt home on the ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,492903135,...,NaN,NaN,NaN,f,4,4,0,0,NaN,37203.0
1279,1370292228465842647,https://www.airbnb.com/rooms/1370292228465842647,20250315060229,2025-03-15,city scrape,I’m rarely there,Master bedroom on main floor of 2br/2ba townho...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,8962546,...,NaN,NaN,NaN,f,1,0,1,0,NaN,37214.0
1280,1373976176884284666,https://www.airbnb.com/rooms/1373976176884284666,20250315060229,2025-03-15,city scrape,"Peaceful, Bright Queen Room | Central & Renovated",Keep it simple at this peaceful and centrally-...,NaN,https://a0.muscache.com/pictures/airflow/Hosti...,21646527,...,NaN,NaN,NaN,t,2,1,1,0,NaN,37211.0
1281,1374694384021460568,https://www.airbnb.com/rooms/1374694384021460568,20250315060229,2025-03-15,city scrape,Mid-Mod Basement Retreat,NEWLY RENOVATED Modern/contemporary 2 BR/1 BA ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,12774554,...,NaN,NaN,NaN,f,1,1,0,0,NaN,37208.0
1282,1376441780728609118,https://www.airbnb.com/rooms/1376441780728609118,20250315060229,2025-03-15,city scrape,Quiet Home in the Woods,"A furnished secluded home, tucked away in the ...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,278308299,...,NaN,NaN,NaN,f,2,1,1,0,NaN,37207.0

In [25]:
incidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902934 entries, 0 to 902933
Data columns (total 36 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   X                            894181 non-null  float64
 1   Y                            894181 non-null  float64
 2   OBJECTID                     902934 non-null  int64
 3   Primary_Key                  902934 non-null  object
 4   Incident_Number              902934 non-null  int64
 5   Report_Type                  902817 non-null  object
 6   Report_Type_Description      838580 non-null  object
 7   Incident_Status_Code         902857 non-null  object
 8   Incident_Status_Description  902832 non-null  object
 9   Investigation_Status         902934 non-null  object
 10  Incident_Location            896893 non-null  object
 11  Latitude                     894181 non-null  float64
 12  Longitude                    894181 non-null  float64
 13  RPA                          474281 non-null  float64
 14  Zone                         474281 non-null  float64
 15  Location_Code                902897 non-null  float64
 16  Location_Description         902897 non-null  object
 17  Offense_Number               902760 non-null  float64
 18  Offense_NIBRS                902861 non-null  object
 19  Offense_Description          902934 non-null  object
 20  Weapon_Description           871897 non-null  object
 21  Victim_Number                902934 non-null  int64
 22  Domestic_Related             902934 non-null  object
 23  Victim_Type                  902921 non-null  object
 24  Victim_Description           902818 non-null  object
 25  Victim_Gender                692724 non-null  object
 26  Victim_Race                  692718 non-null  object
 27  Victim_Ethnicity             692517 non-null  object
 28  Victim_County_Resident       677386 non-null  object
 29  Mapped_Location              0 non-null       float64
 30  POINT_X                      0 non-null       float64
 31  POINT_Y                      0 non-null       float64
 32  ZIP_Code                     473090 non-null  object
 33  Weapon_Primary               872927 non-null  object
 34  Incident_Occurred            902934 non-null  object
 35  Incident_Reported            902934 non-null  object
dtypes: float64(11), int64(3), object(22)
memory usage: 248.0+ MB

In [26]:
incidents['ZIP_Code'].unique()

array([nan, 37115.0, 37210.0, 37203.0, 37208.0, 37211.0, 37013.0, 37206.0,
       37217.0, 37214.0, 37219.0, 37213.0, 37212.0, 37138.0, 37218.0,
       37072.0, 37207.0, 37228.0, 37209.0, 37216.0, 37076.0, 37201.0,
       37215.0, 37204.0, 37062.0, 37205.0, 37221.0, 37189.0, 37220.0,
       37027.0, 37080.0, 37015.0, 37240.0, 37135.0, 37110.0, 37232.0,
       15213.0, 37122.0, 37143.0, 37075.0, 37167.0, 43440.0, 39202.0,
       37066.0, 37086.0, 37043.0, 37064.0, 37049.0, 90069.0, 19153.0,
       37129.0, 37029.0, 0.0, 37087.0, 37683.0, 37028.0, 3701.0, 27707.0,
       37130.0, 6706.0, 27216.0, 89502.0, 38562.0, 30139.0, 37185.0,
       37082.0, 91107.0, 37330.0, 37078.0, 37274.0, 30318.0, 32801.0,
       38401.0, 23236.0, '37207', '37209', '37013.0', '37013', '37138.0',
       '37221', '37076', '37217.0', '37203', '37207.0', '37214',
       '37076.0', '37210.0', '37211.0', '37211', '37221.0', '37209.0',
       '37213', '37115.0', '37204', '37215', '37214.0', '37115', '37210',
       '37208', '37206', '37015', '37201.0', '37217', '37072', '37203.0',
       '37219', '37216.0', '37212', '37205', '37072.0', '37201', '37220',
       '37218', '37027', '37138', '37216', '37080', '37228', '37189',
       '37135', '37066', '37240', '37129', '29501', '17202', '37122',
       '37087', '38401', '37075', '37204.0', '37212.0', '37208.0',
       '37240.0', '37206.0', '37086.0', '37215.0', '37228.0', '37218.0',
       '37219.0', '37027.0', '37189.0', 'UNK', '37213.0', 30326.0,
       37187.0, 37202.0, 37917.0, 37090.0, 77498.0, 23711.0, 37067.0,
       53701.0, 37179.0, 76033.0, 37398.0, 37172.0, 37042.0, 19082.0,
       37188.0, 37162.0, 32317.0, 92119.0, 38485.0, 3108.0, 38109.0,
       60123.0, 37041.0, 37037.0, 37236.0, 37040.0, 38305.0, 42101.0,
       37069.0, 37057.0], dtype=object)

In [27]:
min30ni_zip['zipcode'].unique()

array([37206., 37076., 37212., 37214., 37216., 37204., 37205., 37213.,
       37027., 37138., 37210., 37208., 37211., 37217., 37115., 37220.,
       37209., 37203., 37072., 37207., 31138., 37013., 37221., 37011.,
       37219., 37215., 37080., 37086., 37218., 37299., 37189., 37236.,
       37235., 37243.,    nan, 37240., 37015., 37201., 37152., 37202.])

In [28]:
nash_zillow['RegionName'].unique()

array([37013, 37211, 37115, 37221, 37207, 37076, 37209, 37217, 37214,
       37138, 37205, 37206, 37215, 37203, 37216, 37212, 37208, 37204,
       37210, 37218, 37228, 37201, 37219])

In [29]:
nash_min30 = min30ni_zip[min30ni_zip['zipcode'].isin(nash_zillow['RegionName'])]
nash_min30['zipcode'].unique()

array([37206., 37076., 37212., 37214., 37216., 37204., 37205., 37138.,
       37210., 37208., 37211., 37217., 37115., 37209., 37203., 37207.,
       37013., 37221., 37219., 37215., 37218., 37201.])

In [30]:
nash_min30

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,zipcode
0,6422,https://www.airbnb.com/rooms/6422,20250315060229,2025-03-15,city scrape,Nashville Charm,30 day plus rental - book for one month and th...,Historic East Nashville is home to many new an...,https://a0.muscache.com/pictures/miso/Hosting-...,12172,...,4.92,4.98,NaN,f,1,0,1,0,3.46,37206.0
1,59576,https://www.airbnb.com/rooms/59576,20250315060229,2025-03-15,city scrape,Large Main Suite near Lake *ladies only NS plz,non-smokers only please<br /><br />furnished r...,We live on a cul-de-sac in a small community o...,https://a0.muscache.com/pictures/4e4e34db-3155...,812128,...,5.00,5.00,NaN,f,6,1,5,0,0.09,37076.0
2,258817,https://www.airbnb.com/rooms/258817,20250315060229,2025-03-15,city scrape,"ButterflyRoom-queen room, private bath",Morningstar House! Extended stay - 3+ months- ...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/eef19bc4-2743...,22296,...,4.74,4.73,NaN,f,8,0,7,1,0.60,37076.0
3,289242,https://www.airbnb.com/rooms/289242,20250315060229,2025-03-15,city scrape,"MorningstarHouse, monthly room-",Morningstar House! Extended stay - price reduc...,The Morningstar House is in a quiet cul-de-sac...,https://a0.muscache.com/pictures/40a7ab72-20f7...,22296,...,4.47,4.69,NaN,f,8,0,7,1,0.47,37076.0
4,319705,https://www.airbnb.com/rooms/319705,20250315060229,2025-03-15,city scrape,"SuperSweetSTUDIO, jacuzzi, private entrance",Huge fully furnished private room /studio apar...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/3470453/c7d82...,22296,...,4.63,4.58,NaN,f,8,0,7,1,0.31,37076.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278,1368588735062432547,https://www.airbnb.com/rooms/1368588735062432547,20250315060229,2025-03-15,city scrape,Cozy Downtown Studio On Broadway,Welcome to your modern studio apt home on the ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,492903135,...,NaN,NaN,NaN,f,4,4,0,0,NaN,37203.0
1279,1370292228465842647,https://www.airbnb.com/rooms/1370292228465842647,20250315060229,2025-03-15,city scrape,I’m rarely there,Master bedroom on main floor of 2br/2ba townho...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,8962546,...,NaN,NaN,NaN,f,1,0,1,0,NaN,37214.0
1280,1373976176884284666,https://www.airbnb.com/rooms/1373976176884284666,20250315060229,2025-03-15,city scrape,"Peaceful, Bright Queen Room | Central & Renovated",Keep it simple at this peaceful and centrally-...,NaN,https://a0.muscache.com/pictures/airflow/Hosti...,21646527,...,NaN,NaN,NaN,t,2,1,1,0,NaN,37211.0
1281,1374694384021460568,https://www.airbnb.com/rooms/1374694384021460568,20250315060229,2025-03-15,city scrape,Mid-Mod Basement Retreat,NEWLY RENOVATED Modern/contemporary 2 BR/1 BA ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,12774554,...,NaN,NaN,NaN,f,1,1,0,0,NaN,37208.0
1282,1376441780728609118,https://www.airbnb.com/rooms/1376441780728609118,20250315060229,2025-03-15,city scrape,Quiet Home in the Woods,"A furnished secluded home, tucked away in the ...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,278308299,...,NaN,NaN,NaN,f,2,1,1,0,NaN,37207.0

In [31]:
nash_min30 = nash_min30.drop(columns='price')

In [32]:
price_for_rent = pd.read_csv('../data/price_per30ni.csv')

In [33]:
price_for_rent['id'] = price_for_rent['id'].astype(int)

In [34]:
price_min_30ni = pd.merge(nash_min30, price_for_rent, on=['id','minimum_nights'], how='left')

In [35]:
price_min_30ni

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,zipcode,price,price_min_stay
0,6422,https://www.airbnb.com/rooms/6422,20250315060229,2025-03-15,city scrape,Nashville Charm,30 day plus rental - book for one month and th...,Historic East Nashville is home to many new an...,https://a0.muscache.com/pictures/miso/Hosting-...,12172,...,NaN,f,1,0,1,0,3.46,37206.0,43,1290.0
1,59576,https://www.airbnb.com/rooms/59576,20250315060229,2025-03-15,city scrape,Large Main Suite near Lake *ladies only NS plz,non-smokers only please<br /><br />furnished r...,We live on a cul-de-sac in a small community o...,https://a0.muscache.com/pictures/4e4e34db-3155...,812128,...,NaN,f,6,1,5,0,0.09,37076.0,53,1590.0
2,258817,https://www.airbnb.com/rooms/258817,20250315060229,2025-03-15,city scrape,"ButterflyRoom-queen room, private bath",Morningstar House! Extended stay - 3+ months- ...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/eef19bc4-2743...,22296,...,NaN,f,8,0,7,1,0.60,37076.0,34,1020.0
3,289242,https://www.airbnb.com/rooms/289242,20250315060229,2025-03-15,city scrape,"MorningstarHouse, monthly room-",Morningstar House! Extended stay - price reduc...,The Morningstar House is in a quiet cul-de-sac...,https://a0.muscache.com/pictures/40a7ab72-20f7...,22296,...,NaN,f,8,0,7,1,0.47,37076.0,33,990.0
4,319705,https://www.airbnb.com/rooms/319705,20250315060229,2025-03-15,city scrape,"SuperSweetSTUDIO, jacuzzi, private entrance",Huge fully furnished private room /studio apar...,"I'm very near the Percy Priest Lake, natural ...",https://a0.muscache.com/pictures/3470453/c7d82...,22296,...,NaN,f,8,0,7,1,0.31,37076.0,45,1350.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,1368588735062432547,https://www.airbnb.com/rooms/1368588735062432547,20250315060229,2025-03-15,city scrape,Cozy Downtown Studio On Broadway,Welcome to your modern studio apt home on the ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,492903135,...,NaN,f,4,4,0,0,NaN,37203.0,NaN,NaN
1201,1370292228465842647,https://www.airbnb.com/rooms/1370292228465842647,20250315060229,2025-03-15,city scrape,I’m rarely there,Master bedroom on main floor of 2br/2ba townho...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,8962546,...,NaN,f,1,0,1,0,NaN,37214.0,NaN,NaN
1202,1373976176884284666,https://www.airbnb.com/rooms/1373976176884284666,20250315060229,2025-03-15,city scrape,"Peaceful, Bright Queen Room | Central & Renovated",Keep it simple at this peaceful and centrally-...,NaN,https://a0.muscache.com/pictures/airflow/Hosti...,21646527,...,NaN,t,2,1,1,0,NaN,37211.0,NaN,NaN
1203,1374694384021460568,https://www.airbnb.com/rooms/1374694384021460568,20250315060229,2025-03-15,city scrape,Mid-Mod Basement Retreat,NEWLY RENOVATED Modern/contemporary 2 BR/1 BA ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,12774554,...,NaN,f,1,1,0,0,NaN,37208.0,NaN,NaN
1204,1376441780728609118,https://www.airbnb.com/rooms/1376441780728609118,20250315060229,2025-03-15,city scrape,Quiet Home in the Woods,"A furnished secluded home, tucked away in the ...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,278308299,...,NaN,f,2,1,1,0,NaN,37207.0,NaN,NaN

In [36]:
price_min_30ni['price_min_stay'].mean()

2844.824200913242

In [37]:
price_min_30ni['zipcode'].value_counts()

zipcode
37206.0    119
37203.0    108
37211.0    107
37207.0     96
37216.0     94
37214.0     85
37209.0     85
37212.0     80
37208.0     74
37217.0     61
37076.0     48
37210.0     41
37013.0     39
37115.0     38
37205.0     32
37204.0     29
37138.0     21
37215.0     18
37218.0     14
37221.0      8
37219.0      5
37201.0      3
Name: count, dtype: int64

In [87]:
zip_avg = price_min_30ni.groupby('zipcode')['price_min_stay'].mean().reset_index()
#zip_avg.to_excel('zip_avg.xlsx')
zip_avg.sort_values(by='zipcode')

    zipcode  price_min_stay
0   37013.0     3686.176471
1   37076.0     1493.720000
2   37115.0     2224.181818
3   37138.0    11234.555556
4   37201.0             NaN
5   37203.0     6094.800000
6   37204.0     6660.000000
7   37205.0     2834.769231
8   37206.0     1418.875000
9   37207.0     1624.090909
10  37208.0     1346.842105
11  37209.0     5026.607143
12  37210.0     1110.357143
13  37211.0     2599.848485
14  37212.0     2628.409091
15  37214.0     2509.187500
16  37215.0    24700.000000
17  37216.0      714.130435
18  37217.0     2125.500000
19  37218.0      990.000000
20  37219.0     1935.000000
21  37221.0     5070.000000

In [89]:
zill_zipcode_avg = nash_zillow[['RegionName','2025-04-30']].reset_index()
#zill_zipcode_avg.to_excel('zill_zipcode_avg.xlsx')
zill_zipcode_avg.sort_values(by='RegionName')

    index  RegionName   2025-04-30
0      12       37013  1887.843159
5    2057       37076  1650.986555
2    1657       37115  1522.991142
9    3923       37138  2149.704762
21   7305       37201  2015.583333
13   5140       37203  2082.809707
17   5774       37204  1896.734106
10   3996       37205  2122.547222
11   4108       37206  2305.004224
4    1848       37207  2220.505556
16   5709       37208  1994.769281
6    2455       37209  1832.551307
18   6016       37210  1783.291667
1     166       37211  1530.493139
15   5491       37212  2049.318232
8    3135       37214  1671.495252
12   4494       37215  2301.578477
14   5299       37216  2045.765152
7    2981       37217  1533.345303
19   6233       37218  2283.333333
22   7309       37219  2034.233333
3    1658       37221  1716.247941
20   7262       37228  1833.882540

In [85]:
incidents_nash = incidents[incidents['ZIP_Code'].isin(nash_zillow['RegionName'])]
incidents_nash['ZIP_Code'].value_counts()

ZIP_Code
37207.0    47128
37013.0    46688
37211.0    43655
37115.0    38022
37203.0    28349
37210.0    26853
37208.0    25518
37217.0    23714
37206.0    22902
37209.0    22267
37214.0    21049
37076.0    20443
37201.0    13733
37218.0    11882
37221.0    10526
37216.0    10005
37212.0     6484
37138.0     6146
37204.0     5789
37219.0     5465
37205.0     5297
37215.0     4466
37228.0     3001
Name: count, dtype: int64